@model IEnumerable<Message>
@using System.Security.Claims;
@{
    bool isLogin = Int32.TryParse(User.Claims.Where(x => x.Type == ClaimTypes.Sid).Select(x => x.Value).FirstOrDefault(), out int memberId);
    DateTime date = new DateTime(2000, 1, 1);
}



@foreach (var message in Model)
{
    if (DateTime.Compare(date.Date, message.Time.Date) < 0)
    {
        <div class="m-auto rounded-pill bg-secondary text-center my-2" style="width: 70px; color: white; font-size: 0.8rem">@message.Time.ToString("M")</div>

        date = message.Time;
    }

    if (message.ReceivedId == memberId)
    {
        <div class="message-left">
            <img class="me-2" src='@message.Send.Photo' />
            <div class="d-flex flex-column align-items-start">
                <div class="text-end mb-2">@message.Send.Name <span class="time">@message.Time.ToString("tthh:mm")</span></div>
                <div class="message" style="border-top-left-radius: 0;">@message.MessageContent</div>
            </div>
        </div>
    }
    else
    {
        <div class="message-right">
            <img class="ms-2" src='@message.Send.Photo' />
            <div class="d-flex flex-column align-items-end">
                <div class="text-end mb-2"><span class="time">@message.Time.ToString("tthh:mm")</span> @message.Send.Name</div>
                <div class="message" style="border-top-right-radius: 0;">@message.MessageContent</div>
            </div>
        </div>
    }

}

@if(DateTime.Compare(date.Date, DateTime.Now.Date) < 0)
{
    <div class="m-auto rounded-pill bg-secondary text-center my-2" style="width: 70px; color: white; font-size: 0.8rem">@DateTime.Now.ToString("M")</div>
}



