@model IEnumerable<MeowPlanet.ViewModels.LikeAdopts>
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link href="~/lib/bootstrap/dist/css/animista.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

@{
    string status = "";
}

 <table class="table table-dark table-hover owners">
                 <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">貓貓</th>
                        <th scope="col">品種</th>
                        <th scope="col">年齡</th>
                        <th scope="col">性別</th>
                       
                        <th scope="col">申請日期</th>
                        <th scope="col">狀態</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="table-dark">
                        <td class="table-dark">
                            @if (@item.CatImg1 != null)
                            {
                                <img src="@Url.Content(@item.CatImg1)">
                            }
                            else
                            {

                            }
                        </td>
                        <td class="table-dark">
                            @item.CatName
                        </td>
                        <td class="table-dark">
                            @item.BreedName
                        </td>
                        <td class="table-dark">
                            @item.CatAge 歲
                        </td>
                        <td class="table-dark">
                            @if (@item.CatSex == false)
                            {
                                <i class="fa-solid fa-venus" style="color:#FF8EFF;font-size:1.3rem"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-mars" style="color:#99b8d4;font-size:1.3rem"></i>
                            }
                        </td>
                           <td class="table-dark">
                            @item.DateStart.ToShortDateString()
                        </td>
                        <td class="table-dark">
                            @if (@item.Status == 0)
                            {
                                status = "等待中";
                            }
                            else if (@item.Status == 1)
                            {
                                status = "已拒絕";

                            }
                            else
                            {
                                status = "已同意";
                            }
                            @status
                        </td>

                    </tr>
                }
            </table>
  