@model IEnumerable<MeowPlanet.ViewModels.LikeAdopts>

<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link href="~/lib/bootstrap/dist/css/animista.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

@{
    string status = "";
}
      
<style>
          img{
              width:50%;
              height:70px;
              border-radius:45%;
          }
          table{
                padding:0px;
                text-align:center;
          }
      
          td{
              vertical-align:middle;
          }
          .btn-outline-secondary {
            border:0px solid;
          }
</style>

<div class="container" style="margin:auto;width:30%;color:antiquewhite">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">領養</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">送養</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <table class="table table-dark table-hover">
                  <thead>
                   <tr>
                     <th scope="col"></th>
                     <th scope="col">貓貓</th>
                     <th scope="col">品種</th>
                     <th scope="col">年齡</th>
                     <th scope="col">性別</th>
                     <th scope="col">狀態</th>
                   </tr>
                 </thead>
                @foreach (var item in Model)
                {
                    <tr class="table-dark">
                        <td class="table-dark">
                            @if(@item.CatImg1!=null){
                        <img src="@Url.Content(@item.CatImg1)">
                            }else
                            {

                            }
                        </td>
                        <td class="table-dark">
                            @item.CatName
                        </td>
                        <td class="table-dark">
                            @item.BreedName
                        </td>
                        <td class="table-dark">
                            @item.CatAge 歲
                        </td>
                        <td class="table-dark">
                            @if (@item.CatSex == false)
                            {
                                <i class="fa-solid fa-venus" style="color:#FF8EFF;font-size:1.3rem"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-mars" style="color:#99b8d4;font-size:1.3rem"></i>
                            }
                        </td> 
                         <td class="table-dark">
                             @if (@item.Status == 0)
                            {
                                status = "等待中";
                            }
                            else if (@item.Status == 1)
                            {
                                status = "已拒絕";

                            }
                            else
                            {
                                status = "已同意";
                            }
                            @status
                        </td>

                    </tr>
                }
            </table>
        </div>

        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <table class="table table-dark table-hover">
                   <thead>
                   <tr>
                     <th scope="col"></th>
                     <th scope="col">貓貓</th>
                     <th scope="col">品種</th>
                     <th scope="col">年齡</th>
                     <th scope="col">性別</th>
                     <th scope="col">狀態</th>
                     <th scope="col">手機</th>
                     <th scope="col"></th>
                   </tr>
                 </thead>
                 <tbody>
                @foreach (var item in @ViewBag.owner)
                {
                    <tr class="table-dark">
                        <td class="table-dark">
                            @if(@item.CatImg1!=null){
                        <img src="@Url.Content(@item.CatImg1)">
                            }else
                            {

                            }
                        </td>
                        <td class="table-dark">
                            @item.CatName
                        </td>
                        <td class="table-dark">
                            @item.BreedName
                        </td>
                        <td class="table-dark">
                            @item.CatAge 歲
                        </td>
                        <td class="table-dark">
                            @if (@item.CatSex == false)
                            {
                                <i class="fa-solid fa-venus" style="color:#FF8EFF;font-size:1.3rem"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-mars" style="color:#99b8d4;font-size:1.3rem"></i>
                            }
                        </td> 
                         <td class="table-dark">
                             @if (@item.Status == 0)
                            {
                                status = "等待中";
                            }
                            else if (@item.Status == 1)
                            {
                                status = "已拒絕";

                            }
                            else
                            {
                                status = "已同意";
                            }
                            @status
                        </td>
                        <td class="table-dark">
                            @item.Phone
                        </td>
                        <td class="table-dark">
                            <button id="no" type="button" class="btn btn-outline-secondary buzz"><i class="fa-solid fa-xmark"></i></button>
                            <button id="no" type="button" class="btn btn-outline-secondary buzz"><i class="fa-solid fa-check"></i></button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>