@model MeowPlanet.ViewModels.MemberInfo.CatDetailViewModel


<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class="my-3">
            <p>名稱</p>
            <input type="text" value="@Model.Name" />
        </div>
        <div class="my-3">
            <p>品種</p>
            <input type="text" value="@Model.Breed" />
        </div>
        <div class="my-3">
            <p>性別</p>
            @*<input type="text" value="@sex" />*@
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-light mem-btn sex-btn" value="true" id="sex1">喵弟弟</button>
                <button type="button" class="btn btn-light mem-btn sex-btn" value="False" id="sex2">喵妹妹</button>
            </div>
        </div>
        <div class="my-3">
            <p>年齡</p>
            <input type="text" value="@Model.Age 歲" />
        </div>
        <div class="my-3">
            <p>所在地</p>
            <input type="text" value="@Model.City" />
        </div>
        <div class="my-3">
            <p>介紹</p>
            <textarea rows="4" type="text">@Model.Introduce</textarea>
        </div>
        <div class="my-3">
            <p>可否領養</p>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-light mem-btn ad-btn" value="true" id="ad1">代領貓咪</button>
                <button type="button" class="btn btn-light mem-btn ad-btn" value="False" id="ad2">專屬貓咪</button>
            </div>
        </div>
        <div class="my-3">
            <p>保姆狀態</p>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-light mem-btn sit-btn" value="true" id="sit1">被照顧中</button>
                <button type="button" class="btn btn-light mem-btn sit-btn" value="False" id="sit2">非照顧中</button>
            </div>
        </div>
        <div class="my-3">
            <p>是否走失</p>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-light mem-btn mis-btn" value="true" id="mis1">走失中</button>
                <button type="button" class="btn btn-light mem-btn mis-btn" value="False" id="mis2">無走失</button>
            </div>
        </div>
    </div>
    <div class="col-6">


        <div class="text-center" style="margin:16px;">
            <img src="@Model.Img01" style="width:250px;height:180px;border-radius:30px;" id="imgPreview1">
            <input id="imgInput1" type="file" class="d-none" />
        </div>


        <div class="d-flex justify-content-center" style="margin:10px;">

            <div>
                <img src="@Model.Img02" style="width:180px;height:140px;border-radius:30px;margin:10px;" id="imgPreview2">
                <input id="imgInput2" type="file" class="d-none" />
            </div>
            <div>
                <img src="@Model.Img03" style="width:180px;height:140px;border-radius:30px;margin:10px;" id="imgPreview3">
                <input id="imgInput3" type="file" class="d-none" />
            </div>

        </div>

        <div class="d-flex justify-content-center" style="margin:10px;">

            <div>
                <img src="@Model.Img04" style="width:180px;height:140px;border-radius:30px;margin:10px;" id="imgPreview4">
                <input id="imgInput4" type="file" class="d-none" />
            </div>
            <div>
                <img src="@Model.Img05" style="width:180px;height:140px;border-radius:30px;margin:10px;" id="imgPreview5">
                <input id="imgInput5" type="file" class="d-none" />
            </div>

        </div>

        <div class="text-center">
            <p style="font-size:25px; margin:20px;">可點擊或拖曳更換照片</p>
        </div>

        <div class="my-5 d-flex justify-content-center">
            <button class="btn cat-detail-btn d-flex align-items-center justify-content-center">修改資料</button>
        </div>
        <div class="my-5 d-flex justify-content-center">
            <button class="btn cat-detail-btn d-flex align-items-center justify-content-center" onclick="returnList()">返回列表</button>
        </div>



    </div>
</div>

<script>

    function returnList() {
        $.get("@Url.Action("GetCatInfo", "Member")", function(data) {
            $("#cat-region-select").html(data)
        })
        $(".member-region").css("display", "block")

        $("#cat-region").css("width", "").addClass("col-6")
    }

    var sex = '@Model.Sex';
    var adoptable = '@Model.IsAdoptable';
    var sitting = '@Model.IsSitting';
    var missing = '@Model.IsMissing';

    $(function() {

        if (sex == "True") {
            $('#sex1').addClass('active');
        } else {
            $('#sex2').addClass('active');
        }

        if (adoptable == "True") {
            $('#ad1').addClass('active');
        } else {
            $('#ad2').addClass('active');
        }

        if (sitting == "True") {
            $('#sis1').addClass('active');
        } else {
            $('#sit2').addClass('active');
        }

        if (missing == "True") {
            $('#mis1').addClass('active');
        } else {
            $('#mis2').addClass('active');
        }
    })

    $('.sex-btn').click(function() {
        $('.sex-btn').removeClass('active');
        $(this).addClass('active');
    })
    $('.ad-btn').click(function() {
        $('.ad-btn').removeClass('active');
        $(this).addClass('active');
    })
    $('.sit-btn').click(function() {
        $('.sit-btn').removeClass('active');
        $(this).addClass('active');
    })
    $('.mis-btn').click(function() {
        $('.mis-btn').removeClass('active');
        $(this).addClass('active');
    })


    //img01
    $(document).on({
        'click': () => $('#imgInput1').trigger("click"),
        'dragover': (event) => event.preventDefault(),
        'drop': (event) => {

            event.preventDefault();

            let file = event.originalEvent.dataTransfer.files[0];
            let reader = new FileReader()

            reader.readAsDataURL(file);
            reader.onload = function(e) {
                $('#imgPreview1').attr('src', e.target.result)
            }

            let dt = new DataTransfer();
            dt.items.add(file);
            $('#imgInput1')[0].files = dt.files
        }
    }, '#imgPreview1')

    $(document).on('change', '#imgInput1', function() {

        let reader = new FileReader();
        reader.onload = function(e) {
            $('#imgPreview1').attr('src', e.target.result);
        }

        reader.readAsDataURL($('#imgInput1')[0].files[0])
    })

    //img02
    $(document).on({
        'click': () => $('#imgInput2').trigger("click"),
        'dragover': (event) => event.preventDefault(),
        'drop': (event) => {

            event.preventDefault();

            let file = event.originalEvent.dataTransfer.files[0];
            let reader = new FileReader()

            reader.readAsDataURL(file);
            reader.onload = function(e) {
                $('#imgPreview2').attr('src', e.target.result)
            }

            let dt = new DataTransfer();
            dt.items.add(file);
            $('#imgInput2')[0].files = dt.files
        }
    }, '#imgPreview2')

    $(document).on('change', '#imgInput2', function() {

        let reader = new FileReader();
        reader.onload = function(e) {
            $('#imgPreview2').attr('src', e.target.result);
        }

        reader.readAsDataURL($('#imgInput2')[0].files[0])
    })

    //img03
    $(document).on({
        'click': () => $('#imgInput3').trigger("click"),
        'dragover': (event) => event.preventDefault(),
        'drop': (event) => {

            event.preventDefault();

            let file = event.originalEvent.dataTransfer.files[0];
            let reader = new FileReader()

            reader.readAsDataURL(file);
            reader.onload = function(e) {
                $('#imgPreview3').attr('src', e.target.result)
            }

            let dt = new DataTransfer();
            dt.items.add(file);
            $('#imgInput3')[0].files = dt.files
        }
    }, '#imgPreview3')

    $(document).on('change', '#imgInput3', function() {

        let reader = new FileReader();
        reader.onload = function(e) {
            $('#imgPreview3').attr('src', e.target.result);
        }

        reader.readAsDataURL($('#imgInput3')[0].files[0])
    })

    //img04
    $(document).on({
        'click': () => $('#imgInput4').trigger("click"),
        'dragover': (event) => event.preventDefault(),
        'drop': (event) => {

            event.preventDefault();

            let file = event.originalEvent.dataTransfer.files[0];
            let reader = new FileReader()

            reader.readAsDataURL(file);
            reader.onload = function(e) {
                $('#imgPreview4').attr('src', e.target.result)
            }

            let dt = new DataTransfer();
            dt.items.add(file);
            $('#imgInput4')[0].files = dt.files
        }
    }, '#imgPreview4')

    $(document).on('change', '#imgInput4', function() {

        let reader = new FileReader();
        reader.onload = function(e) {
            $('#imgPreview4').attr('src', e.target.result);
        }

        reader.readAsDataURL($('#imgInput4')[0].files[0])
    })

    //img05
    $(document).on({
        'click': () => $('#imgInput5').trigger("click"),
        'dragover': (event) => event.preventDefault(),
        'drop': (event) => {

            event.preventDefault();

            let file = event.originalEvent.dataTransfer.files[0];
            let reader = new FileReader()

            reader.readAsDataURL(file);
            reader.onload = function(e) {
                $('#imgPreview5').attr('src', e.target.result)
            }

            let dt = new DataTransfer();
            dt.items.add(file);
            $('#imgInput5')[0].files = dt.files
        }
    }, '#imgPreview5')

    $(document).on('change', '#imgInput5', function() {

        let reader = new FileReader();
        reader.onload = function(e) {
            $('#imgPreview5').attr('src', e.target.result);
        }

        reader.readAsDataURL($('#imgInput5')[0].files[0])
    })

</script>
