@model MeowPlanet.Models.Member
@using System.Security.Claims;

@{
    ViewData["Title"] = "memberInfo";
}

@section Styles{
    <link href="~/css/memberInfo.css" rel="stylesheet" />


}
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <section id="member" class="d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-3 memberleft mx-3">
                    <div class="d-flex">
                        <div class="col-7 img-wrap d-flex align-items-center justify-content-end">
                            <img src="@Model.Photo" id="photoPreview" />
                            <input type="file" class="d-none" name="memberPhoto" id="photoInput" />
                        </div>
                        <div class="col-5 p-wrap  d-flex align-items-center justify-content-center">
                            <p class="text-center">@Model.Name</p>
                        </div>

                    </div>

                    <div class="text-center my-5">
                        <a onclick="showAccount()" style="cursor: pointer;">我的帳戶</a>
                    </div>
                    <div class="text-center my-5">
                        <a style="cursor: pointer;">保姆服務</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#" id="adoption" style="cursor: pointer;">領養資訊</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#" id="clues" style="cursor: pointer;">協尋管理</a>
                    </div>


                </div>
                <div class="col-9 memberright mx-3 row d-flex justify-content-center" id="member-right-region">
                </div>
            </div>

        </div>

    </section>

    @section Scripts{
    <script>
        $('.nav-item a').eq(3).addClass('nav-item-active');

        $(function() {
            $.get("@Url.Action("GetAccountInfo", "Member")", { MemberId: @Model.MemberId}, function(data) {
                $("#member-right-region").html(data)
            })
        })

        function showAccount() {
            $.get("@Url.Action("GetAccountInfo", "Member")", { MemberId: @Model.MemberId}, function(data) {
                $("#member-right-region").html(data)
            })
        }
        $(document).on('click', '#backToList', () => {
            showAccount()
        })

        //領養資訊
        $('#adoption').click(() => {
            $.get('/Adoption/LikeTolist', function(data) {
                $('#member-right-region').html(data);
            })
        })

        $('#clues').click(() => {

            $.get('/Missings/GetClues', function(data) {

                if (data == "False") {
                    Swal.fire({
                        title: '您尚未有貓咪走失',
                        text: '是否要前往刊登頁面?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: '前往刊登',
                        cancelButtonText: '下次一定',
                        heightAuto: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "/Missings";
                        }
                        else {
                            return false
                        }
                    })
                }
                else {

                    $('#member-right-region').html(data);
                }
            })
        })


        $(document).on({
            'click': () => $('#photoInput').trigger('click'),
            'dragover': (event) => event.preventDefault(),
            'drop': (event) => {
                event.preventDefault();

                let file = event.originalEvent.dataTransfer.files[0];
                let reader = new FileReader(file);

                reader.onload = function(e) {
                    $('#photoPreview').attr('src', e.target.result);
                }

                let dt = new DataTransfer();
                dt.items.add(file);
                $('#photoInput')[0].files = dt.files;
            }
        })


        $(document).on('change', 'photoInput', function() {
            let reader = new FileReader();
            reader.onload = function(e) {
                $('#photoPreview').attr('src', e.target.result);
            }
            reader.readAsDataURL($('#photoInput')[0].file[0])
        })

    </script>

}