@model MeowPlanet.Models.Member
@using System.Security.Claims;

@{
    ViewData["Title"] = "memberInfo";
}

@section Styles{
    <link href="~/css/memberInfo.css" rel="stylesheet" />
}


    <section id="member" class="d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-3 memberleft mx-3">
                    <div class="d-flex">
                        <div class="col-7 img-wrap d-flex align-items-center justify-content-end">
                            <img src="../images/ar.png" />
                        </div>
                        <div class="col-5 p-wrap  d-flex align-items-center justify-content-center">
                            <p>@Model.Name</p>
                        </div>

                    </div>

                    <div class="text-center my-5">
                        <a onclick="showAccount()">我的帳戶</a>
                    </div>
                    <div class="text-center my-5">
                        <a>保姆服務</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#" id="adoption">領養資訊</a>
                    </div>
                    <div class="text-center my-5">
                        <a href="#" id="clues">協尋管理</a>
                    </div>


                </div>
                <div class="col-9 memberright mx-3 row d-flex justify-content-center" id="member-right-region">
                </div>
            </div>

        </div>

    </section>

    @section Scripts{
    <script>
        $('.nav-item a').eq(3).addClass('nav-item-active');

        $(function() {
            $.get("@Url.Action("GetAccountInfo", "Member")", { MemberId: @Model.MemberId}, function(data) {
                $("#member-right-region").html(data)
            })
        })

        function showAccount() {
            $.get("@Url.Action("GetAccountInfo", "Member")", { MemberId: @Model.MemberId}, function(data) {
                $("#member-right-region").html(data)
            })
        }
        $(document).on('click', '#backToList', () => {
            showAccount()
        })

        //領養資訊
        $('#adoption').click(() => {
            $.get('/Adoption/LikeTolist', function(data) {
                $('#member-right-region').html(data);
            })
        })

        $('#clues').click(() => {

            $.get('/Missings/GetClues', function(data) {

                if (data == "False") {
                    Swal.fire({
                        title: '您尚未有貓咪走失',
                        text: '是否要前往刊登頁面?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: '前往刊登',
                        cancelButtonText: '下次一定',
                        heightAuto: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "/Missings";
                        }
                        else {
                            return false
                        }
                    })
                }
                else {

                    $('#member-right-region').html(data);
                }
            })
        })

        //$(function() {

        //    $.get("@Url.Action("GetCatInfo", "Member")", function(data) {
        //        $("#cat-region-select").html(data)
        //    })
        //})


        //function ToDetail(id) {
        //    $.get("@Url.Action("GetCatDetail", "Member")", { CatId: id }, function(data) {
        //        $("#cat-region-select").html(data)
        //    })
        //    $(".member-region").css("display", "none")
        //    $("#cat-region").removeClass("col-6").css("width", "91.66%")
        //}

    </script>

}