@model IEnumerable<MeowPlanet.ViewModels.Sitters.SitterRecordViewModel>;
@{
    int i = 0;
}
<link href="~/css/sitter-reserverecord.css" rel="stylesheet" />

<div class="div0">
    <div style="overflow-y: auto;">
        <div id="accordionExample" class="div1">

            <div class="div1-01"><i class="fa-solid fa-user-clock"></i> &nbsp 訂 &nbsp 單 &nbsp 狀 &nbsp 態 &nbsp<span style="font-size:15px;">| &nbsp 保母尚未接單 </span></div>

            @foreach (var item in Model)
            {
                if (item.Status == 0)
                {
                    string collapse = "collapse" + i;

                    <button class="div1-1">

                        <!-- data-target="#collapse【1】"***需更改數字*** -->
                            <div data-toggle="collapse" data-target="#@collapse" class="div2">
                            <div class="div2-1">                                
                                <div class="div2-1-1"><i class="fa-solid fa-user-large"></i> &nbsp &nbsp 保母名稱: @item.SitterName &nbsp</div>
                                        <div class="div2-1-2">| &nbsp &nbsp 入宿日期:@item.DateStart.ToString("yyyy年MM月dd日") - @item.DateOver.ToString("MM月dd日") &nbsp (共 @item.DateOver.Subtract(item.DateStart).ToString("%d") 日)</div>
                            </div>
                            <div class="div2-2">
                                <i class="fa-solid fa-angles-down"></i>
                            </div>
                        </div>
                        <!-- id="collapse【1】"***需更改數字***   -->
                                <div id="@collapse" class="div3 collapse card-body" data-parent="#accordionExample">
                            <!-- 訂單細項 -->
                            <div class="div4">
                                <div class="div4-1">
                                  <img src="@item.SitterPhoto" alt="">
                                </div>
                                <div class="div4-2">

                                    <div class="div4-2-1">
                                        <div>保母名稱 &nbsp : &nbsp @item.SitterName </div>
                                        <div>保母地址 &nbsp : &nbsp * 於保母接單後顯示 *</div>
                                        <div>保母電話 &nbsp : &nbsp * 於保母接單後顯示 *</div>
                                        <div>入宿日期 &nbsp : &nbsp @item.DateStart.ToString("yyyy/MM/dd") - @item.DateOver.ToString("yyyy/MM/dd")</div>
                                        <div>入宿貓咪 &nbsp : &nbsp @item.CatName</div>
                                        <div>總共費用 &nbsp : &nbsp 新台幣 @item.Total 元</div>
                                    </div>
                                </div>
                            </div>
                            <div class="div5">
                                <div  type="button" class="div5-2" data-order-id="@item.OrderId" data-status="4">取消訂單</div>
                            </div>
                        </div>
                    </button>

                    i++;
                }
            }


             <div class="div1-01"><i class="fa-solid fa-clock"></i>&nbsp &nbsp 預 &nbsp 約 &nbsp 資 &nbsp 訊 &nbsp<span style="font-size:15px;">| &nbsp 完成請行評價 </span></div>

            @foreach (var item in Model)
            {
                if (item.Status == 1)
                {
                    string collapse = "collapse" + i;

                    <button class="div1-1">

                        <!-- data-target="#collapse【1】"***需更改數字*** -->
                        <div data-toggle="collapse" data-target="#@collapse" class="div2">
                            <div class="div2-1">                                
                                <div class="div2-1-1"><i class="fa-solid fa-user-large"></i> &nbsp &nbsp 保母名稱: @item.SitterName &nbsp</div>
                                        <div class="div2-1-2">| &nbsp &nbsp 入宿日期:@item.DateStart.ToString("yyyy年MM月dd日") - @item.DateOver.ToString("MM月dd日") &nbsp (共 @item.DateOver.Subtract(item.DateStart).ToString("%d") 日)</div>
                            </div>
                            <div class="div2-2">
                                <i class="fa-solid fa-angles-down"></i>
                            </div>
                        </div>
                        <!-- id="collapse【1】"***需更改數字***   -->
                                <div id="@collapse" class="div3 collapse card-body" data-parent="#accordionExample">
                            <!-- 訂單細項 -->
                            <div class="div4">
                                <div class="div4-1">
                                    <img src="@item.SitterPhoto">
                                </div>
                                <div class="div4-2">

                                    <div class="div4-2-1">
                                        <div>保母名稱 &nbsp : &nbsp @item.SitterName </div>
                                        <div class="div4-2-2">保母地址 &nbsp : &nbsp @item.FormattedAddress</div>
                                        <div>保母電話 &nbsp : &nbsp @item.SitterPhone</div>
                                        <div>入宿日期 &nbsp : &nbsp @item.DateStart.ToString("yyyy/MM/dd") - @item.DateOver.ToString("yyyy/MM/dd")</div>
                                        <div>入宿貓咪 &nbsp : &nbsp @item.CatName</div>
                                        <div>總共費用 &nbsp : &nbsp 新台幣 @item.Total 元</div>
                                    </div>
                                </div>
                            </div>
                            <div class="div5">
                                <!-- <div class="comment-area"> -->
                                <span type="button" class="div5-1" data-order-id="@item.OrderId" data-status="2">完成訂單</span>
                            </div>
                        </div>
                    </button>
                    i++;
                }
            }


            <div class="div1-01"><i class="fa-solid fa-folder-open"></i> &nbsp 歷 &nbsp 史 &nbsp 訂 &nbsp 單</div>


            @foreach (var item in Model)
            {
                if (item.Status == 2)
                {
                    string collapse = "collapse" + i;

                    <button class="div1-1">

                        <!-- data-target="#collapse【1】"***需更改數字*** -->
                        <div data-toggle="collapse" data-target="#@collapse" class="div2">
                            <div class="div2-1">                                
                                <div class="div2-1-1"><i class="fa-solid fa-user-large"></i> &nbsp &nbsp 保母名稱: @item.SitterName &nbsp</div>
                                        <div class="div2-1-2">| &nbsp &nbsp 入宿日期:@item.DateStart.ToString("yyyy年MM月dd日") - @item.DateOver.ToString("MM月dd日") &nbsp (共 @item.DateOver.Subtract(item.DateStart).ToString("%d") 日)</div>
                            </div>
                            <div class="div2-2">
                                <i class="fa-solid fa-angles-down"></i>
                            </div>
                        </div>
                        <!-- id="collapse【1】"***需更改數字***   -->
                                <div id="@collapse" class="div3-1 collapse card-body" data-parent="#accordionExample">
                            <!-- 訂單細項 -->
                            <div class="div4">
                                <div class="div4-1">
                                    <img src="@item.SitterPhoto" alt="">
                                </div>
                                <div class="div4-2">

                                    <div class="div4-2-1">
                                        <div>保母名稱 &nbsp : &nbsp @item.SitterName </div>
                                        <div class="div4-2-2">保母地址 &nbsp : &nbsp @item.FormattedAddress</div>
                                        <div>保母電話 &nbsp : &nbsp @item.SitterPhone</div>
                                        <div>入宿日期 &nbsp : &nbsp @item.DateStart.ToString("yyyy/MM/dd") - @item.DateOver.ToString("yyyy/MM/dd")</div>
                                        <div>入宿貓咪 &nbsp : &nbsp @item.CatName</div>
                                        <div>總共費用 &nbsp : &nbsp 新台幣 @item.Total 元</div>
                                    </div>
                                </div>
                            </div>                                   
                        </div>
                    </button>
                    i++;
                }
            }
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

 <script>
     let clickedOrderId;

     $('.div5-1').on('click', function(){
         clickedOrderId = parseInt($(this).data('orderId'));
     })

    @*訂單確認*@
     $('.div5 div').on('click', function(){

         let orderId = $(this).data('orderId');
         let status = $(this).data('status');
         let title;

         if(status == 1){
             title = "" //接受訂單的內容
         }else{
             title = "" //拒絕訂單的內容
         }


         Swal.fire({
             title,
             icon: 'question',
             showCancelButton: true,
             confirmButtonText: '確定',
             cancelButtonText: '返回',
             heightAuto: false,

         }).then((result) => {

             if (result.isConfirmed) {

                 //執行後端的內容 
                 $.post('/Sitter/SetOrderStatus', {orderId,status}, function(){
                     //執行更新內容
                     $.get('/Sitter/SitterReserveRecord', function(data) {
                         $('#member-right-region').html(data);
                     })
                 })                            
             }
         })
     })
 </script>

 <script>
        //* 彈出評論
        $(".div5-1").click(function () {
            clickedOrderId = parseInt($(this).data('orderId'));
            Swal.fire(
                {
                    title: '',
                    width: 800,
                    padding: '2em',
                    color: '#fff',
                    background: "#171B20",
                    showConfirmButton: false,
                    showCloseButton: true,
                    backdrop: `rgba(0,0,0,0.4)`,
                    html: `<div class="div6-1 h2">
                        <i class="fa-solid fa-calendar-star"></i>
                        <span class="">保母服務評價</span>
                        <i class="fa-solid fa-calendar-star"></i>
                    </div>


                    <div class="pop-comment-area">
                        <div class="div6-2">
                            <div class="pop-user-info">
                                <div class="div6-2-1"><i class="fa-solid fa-star"> &nbsp 評分 &nbsp （最高為5星）<div>
                                <div class="div8">
                                   <div class="div11">

                                         <ul id="div12">
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                         </ul>

                                   </div>
                                </div>
                                <div class="div6-2-1"> <i class="fa-solid fa-feather-pointed"></i> &nbsp 評價 &nbsp （切勿人身攻擊）<div>
                               <input class="div9"></input>

                               <button class="div10">送 &nbsp 出</button>

                            </div>
                        </div>

                    </div>
                    `,
                })
                $('.div10').on('click', function(){
                    let comment = $('.div9').val();

                        $.get('/Sitter/SetOrderStatus', {orderId: clickedOrderId, status: 2, div12: clickeddiv12, comment}).then(()=>{
                            swal.clickConfirm();
                        }).then(()=>{
                            $.get('/Sitter/SitterReserveRecord', function(data) {
                                $('#member-right-region').html(data);
                            })
                        })

                })

                div7Create()

        })
    </script>
    <script>
        let clickeddiv12 = 1;

        function div7Create() {
           var div12 = document.getElementById("div12");
           var div12_li = div12.getElementsByTagName("li");
           var result = document.getElementById("result");
           var i = 0;
           var j = 0;
           var len = div12_li.length;


            for (i = 0; i < len; i++) {
                div12_li[i].index = i;

                div12_li[i].onmouseover = function () {

                    for (i = 0; i < 5; i++) {
                        div12_li[i].style.color = "rgb(97, 97, 97)";
                    }

                    for (i = 0; i <= this.index; i++) {
                        div12_li[i].style.color = "rgb(185, 150, 104)";
                    }

                    clickeddiv12 = i;


                }
            }
        }        
    </script>

