@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <link href="~/css/sitter-index.css" rel="stylesheet" />
}
<div style="position:relative;">
    <div class="input-box">
        <input type="text" id="mapInput" placeholder="想在哪裡找保母呢...">
    </div>
    <!-- 地圖顯示區 -->
    <div class="show-map_div2-1" id="btn01">
        <img id="btn01" src="@Href("~/images/sitter/顯示地圖.png")">
    </div>
    <div class="map_div2-2" id="map_div01">
        <div id="map"></div>
        <div class="close-map_div2-2-1" id="btn02">
            <i class="fa-solid fa-angles-left fa-lg"></i>
        </div>
    </div>
    <!-- 背景 -->
    <div class="starsky">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>

        <!-- 保母展示細項 -->
        <div class="container" id="search-result_div03">
            <div class="row">
                @for (var i = 0; i < 10; i++)
                {
                    <div class="card_div4">
                        <div class="pic_div4-1">
                            <div class="slide-1"><img src="@Href("~/images/sitter/cat1.jpg")"></div>
                            <div class="slide-2"><img src="@Href("~/images/sitter/cat2.jpg")"></div>
                            <div class="slide-3"><img src="@Href("~/images/sitter/cat3.jpg")"></div>
                        </div>
                        <div class="sitter-box_div5">
                            <div class="d-flex">
                                <div class="sitter-pic_div5-1">
                                    <img src="@Href("~/images/sitter/cat1.jpg")" />
                                </div>
                                <div class="sitter-info_div5-2">
                                    <p class="sitter-name_div5-2-1">
                                        55貓咪大師貓貓貓貓
                                    </p>
                                    <p class=" d-flex sitter-star">
                                        <i class="fa-solid mr-1 fa-star fa-xs"></i>
                                        <i class="fa-solid mr-1 fa-star fa-xs"></i>
                                        <i class="fa-solid mr-1 fa-star-half-stroke fa-xs"></i>
                                        <i class="fa-regular mr-1 fa-star fa-xs"></i>
                                        <i class="fa-regular mr-2 fa-star fa-xs"></i>
                                        2.5
                                    </p>

                                </div>
                            </div>
                            <div class="sitter-location_div5-3 ">
                                <i class="fa-solid fa-location-dot fa-sm"></i>
                                <span>&nbsp高雄市 前金區前金區</span>
                                <span>5 Km</span>
                            </div>
                            <div class="sitter-feature_div6">
                                <div class="feature_span1"> 專人專 </div>
                                <div class="feature_span1"> marquee </div>
                                <div class="feature_span1"> 細心細心 </div>
                                <div class="feature_span1"> 細心 </div>
                                <div class="feature_span1"> 跳台 </div>
                            </div>
                            <button class="sitter-btn_div7">
                                <i class="fa-regular fa-calendar-check"></i>
                                預約
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <script src="~/js/sitter-index.js" type="module"></script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5GLU-Md1jCttuMgYGiLngvDh0nELvLjM&callback=initMap&libraries=places,geometry"></script>
}